<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Url Shortner Home</title>
    <script type="text/javascript" src="/static/asset/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/static/asset/js/mustache.min.js"></script>
</head>
<body>
    <div>
        변경 할 url (http:// | https:// 포함) : <input id="url_input" text="" />
        <input type="button" onclick="convert();" value="변경"/>
    </div>
    <div id="result">URL : {{result}} (요청횟수:{{reqCount}}) </div>
</body>
</html>

<script type="text/javascript">

    //단일 데이터 메칭
    function convert(){
        var text = $("#url_input").val();
        $(location).attr('href','/?urlStr=' + text);
    }
</script>